{% extends 'base.html' %}
{% block title %}{{ titulo }}{% endblock %}

{% block passo_atual %}
    <mark>{{ passo_atual }}</mark> <a>{{ passo_atual_texto }}</a>
{% endblock %}

{% block content %}
    <form method="POST" class='form_passo_2' action="/passo3/">{% csrf_token %}
        <ul>
            <li>
                <a>Similaridade por tempo</a>
                <div>0 <input name="percentual_tempo" type="range" min="0" max="100" value="50" onchange="atualiza_percentual_tempo(this.value);"> 100 | <span id='valor_atual_tempo'>50</span>%</div>
            </li>
            <li>
                <a>Similaridade por comprimento</a>
                <div>0 <input name="percentual_comprimento" type="range" min="0" max="100" value="50" onchange="atualiza_percentual_comprimento(this.value);"> 100 | <span id='valor_atual_comprimento'>50</span>%</div>
            </li>
        </ul>
        <input type='submit' id='submit_proximo_passo' class='submit_proximo_passo' value='Continuar'>
    </form>
{% endblock %}