/* Estrutura da tela */
html{
    height: 100%;
}
body{
    height: 100%; 
    margin: 0; 
    padding: 0;
    background: linear-gradient(to right, #252525, #bebebe);
    font-family: arial;
}

/* ---===================--- */
/* Estrutura do mapa */
#map_canvas{ 
    z-index: 1;
}
#mapa{
    margin-left: 335px;
    margin-top: 50px;
}
/* ---===================--- */
/* Passo atual */
.passo_atual{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;

    z-index: 1000;
    background-color: #252525;
    font-family: sans-serif;
}
.passo_atual mark{ 
    position: absolute;
    left: 25px;
    height: 80%;
    width: 280px;
    font-size: 25px;

    padding: 1px 10px;
    background-color: #393939;
    color: #848484;
    text-align: center;
    border-radius: 0px 0px 25px 25px;
}
.passo_atual a{
    position: relative;
    top: 5px;

    color: #fff;
    font: monospace;
    font-size: 20px;
    font-style: italic;
    margin-left: 340px;
}
.barra_inferior{
    position: fixed;
    background-color: #252525;
    bottom: 0px;
    left: 0px;
    height: 80px;
    width: 100%;
    z-index: 1000;
}

/* ---===================--- */
/* Estrutura do(s) formulário(s) */
.formulario{
    z-index: 2;
    position: fixed;
    background: linear-gradient(to bottom, #bebebe, #fff);

    position: absolute;
    top: 50px;
    left: 25px;
    width: 300px;
    height: 80%;
    
    text-align: center;
    overflow: auto;
}

/* ---===================--- */
/* Instrução */
.formulario #instrucao{
    position: relative;
    width: 90%;
    background-color: #fff;
    padding: 5px 2.5%;
    margin-left: 2.5%;
    
    border: 1px solid #bebebe;
    border-radius: 5px;
    text-align: left;
    font-size: 90%;
}

/* ---===================--- */
/* botoes em lista */
.botoes{
    list-style: none;
    margin-left: -10%;
}
.botoes li{
    width: 95%;
    padding: 10px 1%;
    margin-top: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #5A5A5A; 
    border: 1px solid #5A5A5A;
    border-radius: 20px;
}
.botoes .selecao_nao_validada:hover{
    background-color: #006200;
    border: 1px solid #006200;
}
.botoes .selecao_nao_validada{
    border: 1px solid #FF0000;
}
.botoes .selecao_validada{
    border: 1px solid #006200;
}
.botoes li:hover{
    background-color: #6F6F6F;
}

/* ---===================--- */
/* Formulário passo 1 */
.form_passo_1{
    position: absolute;
    width: 100%;
}
.form_passo_1 .selecao_nao_validada{
    border: 1px solid #FF0000;
}
.form_passo_1 .selecao_validada{
    border: 1px solid #006200;
}
.form_passo_1 textarea{
    visibility: hidden;
}

/* ---===================--- */
/* submit */
#submit_proximo_passo{
    position: relative;
    background-color: #006200;
    border: 1px solid #006200;
    border-radius: 5px;

    width: 90%;
    left: 5%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}
#submit_proximo_passo:hover{
    background-color: #2A9B2A;
}
.form_passo_1 .submit_proximo_passo{
    bottom: 30px;
}
.submit_proximo_passo_desabilitado{
    top: -1000px;
}

/* ---===================--- */
/* Formulário passo 2 */
.form_passo_2{
    text-align: left;
}
.form_passo_2 ul{
    list-style: none;
    margin-left: -10%;
}
.form_passo_2 li{
    /*background: linear-gradient(to left, #9C9C9C, #bebebe);*/
    border-top: 1px solid #bebebe;
    padding: 5px;
    margin-top: 0px;
}
.form_passo_2 li div{
    background-color: #9A9A9A;
    box-shadow: inset 2px 10px 15px #828282;
    border: 1px solid #828282;

    border-radius: 5px;
    text-align: center;
    position: relative;
    color: #fff;
    padding: 5px 10px;
    font-size: 90%;
    color: #252525;
    text-align: left;
}
.form_passo_2 li input{
    cursor: pointer;
}
.form_passo_2 li span{
    color: #fff;
    font-size: 120%;
    padding: 0px 3px 0px 10px;
}
.form_passo_2 li a{
    background-color: #828282;
    color: #fff;
    padding: 5px 15px;
}
.form_passo_2 input[type='range'] {
    -webkit-appearance: none !important;
    background:#393939;
    height:7px;
    border: 1px solid #000;
    box-shadow: inset 0px 4px 10px #000;
}
.form_passo_2 input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#bebebe;
    height:20px;
    width:5px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px #000;
}
.form_passo_2 input[type='range']::-webkit-slider-thumb:hover{
    background: white;
}

/* ---===================--- */
/* Formúlario/Tabela passo 3 */
.tabela_passo3{
    position: relative;
    margin:5px;
    border-collapse: collapse;
    color: #fff;
}
.tabela_passo3 .par_nao_selecionado{
    background-color: #A1A1A1;
    border: 1px solid #252525;
}
.tabela_passo3 .par_nao_selecionado:hover{
    background-color: #252525;
}
.tabela_passo3 .par_selecionado{
    background-color: #616161;
    border: 1px solid #252525;
}

.tabela_passo3 tr td{
    padding: 3px;
}
.tabela_passo3 tr #td_legenda{
    background: linear-gradient(to right, #000, #1A1A1A);
    border: 1px solid #000;
    font-size: 75%;
    padding: 8px 1px;
}
.tabela_passo3 tr #td_legenda #sim{
    font-size: 65%;
}
.tabela_passo3 input[type='checkbox']{
    cursor: pointer;
}
.tabela_passo3 #par{
    padding: 0px 12px;
    background: linear-gradient(to bottom, #616161, #777777);
}
.tabela_passo3 tr td #porcentagem{
    font-size: 10px;
    color: #DCDCDC;
}
.tabela_passo3 tr #selecionar_tudo_nada{
    border: 1px solid #000;
    height: 20px;
    font-size: 85%;
}
.nada_selecionado{
    background-color: #A1A1A1;
}
.tudo_selecionado{
    background-color: #616161;   
}