{% extends 'base.html' %}
{% block title %}{{ passo_atual }}{% endblock %}

{% block onload %} onload="executa('{{ passo_atual }}');"{% endblock %}
{% block passo_atual %}
    <mark>{{ passo_atual }}</mark> <a>{{ passo_atual_texto }}</a>
{% endblock %}

{% block content %}
        <form method="POST" name="form3" action='/passo4/'>{% csrf_token %}
            <table class='tabela_passo3' topmargin='0'>
                <tr>
                    <td id='td_legenda' colspan="3">Par de trajetórias</td>
                    <td id='td_legenda'><a id='sim'>Similaridade de</a> Tempo</td>
                    <td id='td_legenda'><a id='sim'>Similaridade de</a> Comprimento</td>
                </tr>
                {% for par in pares_com_similaridade %}
                <tr id="{{ par.id_trajetoria1 }}{{ par.id_trajetoria2 }}" class="par_nao_selecionado">
                    <td><input type="checkbox" name="trajetorias_similares" value="{{ par.id_trajetoria1 }}-{{ par.id_trajetoria2 }}" onclick="altera_estado('{{ par.id_trajetoria1 }}{{ par.id_trajetoria2 }}');"></td>
                    <td id='par'>{{ par.id_trajetoria1 }}</td>
                    <td id='par'>{{ par.id_trajetoria2 }}</td>
                    <td id='tempo'>{{ par.tempo }}<a id='porcentagem'> %</a></td>
                    <td id='comprimento'>{{ par.comprimento }}<a id='porcentagem'> %</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td id="selecionar_tudo_nada" class="nada_selecionado" colspan="5">
                        <a><input type="checkbox" name="selecionar_tudo_nada" onclick="selecionar_tudo()"> SELECIONAR TUDO</a>
                    </td>
                </tr>
            </table>
{% endblock %}
{% block barra_inferior %}
        </br>
        <input type='submit' id='submit_proximo_passo' class='submit_proximo_passo' value='Continuar'>
    </form>
{% endblock %}